/* Estilo dpadrão das páginas */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

header,
main,
footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo do botão de navegação */
.botao-centralizado {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao-entrada {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    cursor: default;
}