<!DOCTYPE html>
<html lang="pt-BR">
<!-- BRENO FERREIRA AMORIM | 3º PERIODO | ADS -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="../css/estiloBase.css">
</head>

<body>
    <!-- Cabeçalho da página de administração. -->
    <header class="cabecalho">
        <h1>Página designada a Administração da empresa de montagem de peças</h1>
    </header>

    <!-- Conteúdo principal de toda a página. -->
    <main class="conteudo-principal">

        <!-- Saudações. -->
        <div class="painel">
            <h2>Administração</h2>
            <p class="descricao">
                Esta página representa a estrutura inicial de navegação do sistema da Fábrica de Peças.
            </p>

            <!-- Áre com as funcionalidades. -->
            <div class="menu-principal">
                <!--Usuarios do sistema
                    perfis de acesso
                    funcionarios
                    fornecedores
                    setores da fabrica
                    parametros do sistema
                    dados da empresa
                    voltar ao menu principal-->


            </div>

            <!-- Botões para voltar ao menu. -->
            <div class="botao-centralizado">
                <a href="principal.html" class="botao-entrada">
                    Clique aqui para voltar ao menu
                </a>
            </div>
        </div>
    </main>
    <!-- Rodapé simples da página. -->
    <footer class="rodape">
        <h2>IFABRICA</h3>
        <p>Desde 2014</p>
        <p>Programação II - IFRO</p>
    </footer>
</body>

</html>