<!DOCTYPE html>
<html lang="pt-BR">
<!-- Menu cargos - versão 4 com css -->
<!-- Breno Amorim -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cargos</title>

  <link rel="stylesheet" href="../css/estiloBase.css">
</head>

<body>
  <!-- Cabeçalho principal da página. -->
  <header class="cabecalho">
    <h1>Sistema da Fábrica de Peças</h1>
  </header>
  <!-- Área principal do conteúdo da página. -->
  <main class="conteudo-principal">
    <section class="painel">
      <h2>Submenu de cargos </h2>

      <!-- Submenu Cargos -->
      <section class="menu-principal">
        <a href="crudcargos.html" class="item-menu">Novo Cargo</a>
        <a href="crudcargos.html" class="item-menu">Listar Cargos</a>
        <a href="crudcargos.html" class="item-menu">Editar Cargos</a>
        <a href="crudcargos.html" class="item-menu">Excluir cargos</a>
      </section>

      <!-- Botão para voltar a tela de submenu admin . -->
      <div class="area-voltar">
        <a href="admin.html" class="botao-voltar">
          Voltar para Submenu (Adminstração)
        </a>
      </div>
    </section>


  </main>
  <!-- Rodapé simples da página. -->
  <footer class="rodape">
    <p>Programação II - IFRO - Desenvolvedor - Breno Amorim</p>
  </footer>

</body>

</html>