<!DOCTYPE html>
<html lang="pt-BR">
<!-- CRUD FORNECEDORES- Sprint 3 -->
<!-- Breno Amorim -->
<!-- Operações CRUD para o cadastro de fornecedores -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fornecedores</title>
  <link rel="stylesheet" href="../css/estiloBase.css">
</head>

<body>

  <!-- Cabeçalho principal da página -->
  <header class="cabecalho">
    <h1>Sistema da Fábrica de Peças</h1>
  </header>

  <!-- Área principal do conteúdo -->
  <main class="conteudo-principal">
    <section class="painel">
      <h2>CRUD Fornecedores</h2>


      <!-- Submenu CRUD Fornecedores -->

      <div class="menu-principal">
        <a href="#" class="item-menu">Novo Fornecedores</a>
        <a href="#" class="item-menu">Listar Fornecedores</a>
        <a href="#" class="item-menu">Editar Fornecedores</a>
        <a href="#" class="item-menu">Excluir Fornecedores</a>
      </div>

      <!-- Botão de retorno ao submenu de fornecedores -->
      <div class="area-voltar">
        <a href="admin.html" class="botao-voltar">
          Voltar para Submenu (Fornecedores)
        </a>
      </div>

    </section>
  </main>

  <!-- Rodapé -->
  <footer class="rodape">
    <p>Programação II - IFRO - Desenvolvedor Breno Amorim</p>
  </footer>

</body>

</html>