<!DOCTYPE html>
<html lang="pt-BR">
<!-- CRUD SETORES - Sprint 3 -->
<!-- Breno Amorim -->
<!-- Operações CRUD para o cadastro de setores -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Setores</title>
    <link rel="stylesheet" href="../css/estiloBase.css">
</head>

<body>

    <!-- Cabeçalho principal da página -->
    <header class="cabecalho">
        <h1>Sistema da Fábrica de Peças</h1>
    </header>

    <!-- Área principal do conteúdo -->
    <main class="conteudo-principal">
        <section class="painel">
            <h2>CRUD Setores</h2>
     

            <!-- Submenu CRUD de Setores -->

            <div class="menu-principal">
                <a href="#" class="item-menu">Novo Setor</a>
                <a href="#" class="item-menu">Listar Setor</a>
                <a href="#" class="item-menu">Editar Setor</a>
                <a href="#" class="item-menu">Excluir Setor</a>
            </div>

            <!-- Botão de retorno ao submenu de setor -->
            <div class="area-voltar">
                <a href="setores.html" class="botao-voltar">
                    Voltar para Submenu (Setor)
                </a>
            </div>

        </section>
    </main>

    <!-- Rodapé -->
    <footer class="rodape">
        <p>Programação II - IFRO - Desenvolvedor Breno Amorim</p>
    </footer>

</body>

</html>