<!DOCTYPE html>
<html lang="pt-BR">
<!--CRUD de Departamentos - Sprint 2 -->
<!-- Breno Amorim -->
<!-- Operações CRUD para o cadastro de Departamentos -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Departamentos</title>
  <link rel="stylesheet" href="../css/estiloBase.css">
</head>

<body>

  <!-- Cabeçalho principal da página -->
  <header class="cabecalho">
    <h1>Sistema da Fábrica de Peças</h1>
  </header>

  <!-- Área principal do conteúdo -->
  <main class="conteudo-principal">
    <section class="painel">
      <h2>CRUD Departamentos</h2>
    

      <!-- Submenu CRUD de Departamentos -->

      <div class="menu-principal">
        <a href="#" class="item-menu">Novo Departamento</a>
        <a href="#" class="item-menu">Listar Departamentos</a>
        <a href="#" class="item-menu">Editar Departamento</a>
        <a href="#" class="item-menu">Excluir Departamento</a>
      </div>

      <!-- Botão de retorno ao submenu departamento -->
      <div class="area-voltar">
        <a href="departamentos.html" class="botao-voltar">
          Voltar para Submenu (Departamento)
        </a>
      </div>

    </section>
  </main>

  <!-- Rodapé -->
  <footer class="rodape">
    <p>Programação II - IFRO - Desenvolvedor Breno Amorim</p>
  </footer>

</body>

</html>