<!DOCTYPE html>
<html lang="pt-BR">
<!-- BRENO FERREIRA AMORIM | 3º PERIODO | ADS -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="../css/estiloBase.css">
</head>

<body>
    <!-- Cabeçalho principal da página. -->
    <header class="cabecalho">
        <h1>Sistema da Fábrica de Peças</h1>
    </header>

    <!-- Conteúdo da principal de toda a página. -->
    <main class="conteudo-principal">
        <section class="painel">
            <h2>Página Principal</h2>
            <p>
                Bem-vindo ao sistema da Fábrica de Peças.
            </p>
            <!-- Link com função de retorno. -->
            <div class="botao-centralizado">
                <a href="templateBase2.html" class="botao-entrada">
                    Clique aqui para voltar à página anterior
                </a>
            </div>
        </section>
        <section class="menu">
            <!-- menu de Núcleo Pessoa / Funcionário. -->
            <a href="">Núcleo 1 - Funcionarios</a><br>

            <!-- menu de Núcleo Produto / Roda. -->
            <a href="">Núcleo 2 - Roda</a><br>

            <!-- menu de Núcleo Fabricação. -->
            <a href="">Núcleo 3 - Fabricação</a><br>

             <!-- menu de Núcleo Processo de Produção. -->
            <a href="">Núcleo 4 - Processo de Produção</a><br>

             <!-- menu de Núcleo Insumos, Perdas e Custos. -->
            <a href="">Núcleo 5 - Insumos, Perdas e Custos</a><br>
        </section>
    </main>
    <!-- Rodapé simples da página. -->
    <footer class="rodape">
        <p>Programação II - IFRO</p>
    </footer>
</body>

</html>