<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="../css/estiloBase.css">
</head>

<body>
    <header class="cabecalho">
        <h1>Sistema da Fábrica de Peças</h1>
    </header>
    <main class="conteudo-principal">
        <section class="painel">
            <h2>Página Principal</h2>
            <p>
                Bem-vindo ao sistema da Fábrica de Peças.
            </p>
            <!-- Link simulando retorno -->
            <div class="botao-centralizado">
                <a href="templateBase2.html" class="botao-entrada">
                    Clique aqui para voltar à página anterior
                </a>
            </div>
        </section>
    </main>
    <footer class="rodape">
        <p>Programação II - IFRO</p>
    </footer>
</body>

</html>