<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estiloBase.css">
    <title>IFABRICA - 02</title>
</head>

<body>

    <!-- Cabeçalho principal da página. -->
    <header class="cabecalho">
        <h1>IFABRICA</h1>
    </header>

    <!-- Área principal do conteúdo da página. -->
    <main class="conteudo_principal">
        <section class="painel">
            <h2>Iniciando a simulação do sistema Fábrica de Peças</h2>
            <p>
                Esta página representa o início da estrutura visual do sistema que será usado
                para simular a fábrica de peças.
            </p>
            <div class="botao-centralizado">
                <a href="principal.html" class="botao-entrada">
                    Clique aqui para entrar no sistema
                </a>
            </div>
        </section>
    </main>

    <!-- Rodapé simples da página. -->
    <footer class="rodape">
        <p>Programação II - IFRO.</p>
    </footer>

</body>

</html>