<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFABRICA - 00</title>
</head>

<body>

    <!-- Cabeçalho principal da página. -->
    <header>
        <h1>Iniciando a simulação do sistema Fábrica de Peças</h1>
    </header>

    <!-- Área principal do conteúdo da página. -->
    <main>
        <section>
            <p>Primeira página HTML5 do projeto IFabrica.</p>
        </section>
    </main>

    <!-- Rodapé simples da página. -->
    <footer>
        <p>Programação II - IFRO.</p>
    </footer>

</body>

</html>